<a href="https://colab.research.google.com/github/nurfnick/Discrete_Math/blob/master/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pa

data = pa.read_csv('https://raw.githubusercontent.com/nurfnick/COVID_Travel/master/census_population.csv',encoding='latin-1')

In [ ]:
data['State']

0           NaN
1       Alabama
2       Alabama
3       Alabama
4       Alabama
         ...
3138    Wyoming
3139    Wyoming
3140    Wyoming
3141    Wyoming
3142    Wyoming
Name: State, Length: 3143, dtype: object

Let's try to make the States into a set.  I'll save it and then remove the nan (empty field) and get rid of the duplicates.

In [ ]:
states = pa.unique(data['State'])

In [ ]:
states = states[~pa.isna(states)]

In [ ]:
states

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

So now I have a set of all states.  Not too shabby.  I want to do some more with it though but states are kind of boring.  I'll play with counties next.  I think Oklahoma and Mississippi have some shared counties.

In [ ]:
okcounty = data[data['State']=='Oklahoma']['County']
miscounty = data[data['State']=='Mississippi']['County']

In [ ]:
okcounty = pa.unique(okcounty)
miscounty = pa.unique(miscounty)

In [ ]:
okcounty

array(['Adair', 'Alfalfa', 'Atoka', 'Beaver', 'Beckham', 'Blaine',
       'Bryan', 'Caddo', 'Canadian', 'Carter', 'Cherokee', 'Choctaw',
       'Cimarron', 'Cleveland', 'Coal', 'Comanche', 'Cotton', 'Craig',
       'Creek', 'Custer', 'Delaware', 'Dewey', 'Ellis', 'Garfield',
       'Garvin', 'Grady', 'Grant', 'Greer', 'Harmon', 'Harper', 'Haskell',
       'Hughes', 'Jackson', 'Jefferson', 'Johnston', 'Kay', 'Kingfisher',
       'Kiowa', 'Latimer', 'Le Flore', 'Lincoln', 'Logan', 'Love',
       'McClain', 'McCurtain', 'McIntosh', 'Major', 'Marshall', 'Mayes',
       'Murray', 'Muskogee', 'Noble', 'Nowata', 'Okfuskee', 'Oklahoma',
       'Okmulgee', 'Osage', 'Ottawa', 'Pawnee', 'Payne', 'Pittsburg',
       'Pontotoc', 'Pottawatomie', 'Pushmataha', 'Roger Mills', 'Rogers',
       'Seminole', 'Sequoyah', 'Stephens', 'Texas', 'Tillman', 'Tulsa',
       'Wagoner', 'Washington', 'Washita', 'Woods', 'Woodward'],
      dtype=object)

In [ ]:
miscounty

array(['Adams', 'Alcorn', 'Amite', 'Attala', 'Benton', 'Bolivar',
       'Calhoun', 'Carroll', 'Chickasaw', 'Choctaw', 'Claiborne',
       'Clarke', 'Clay', 'Coahoma', 'Copiah', 'Covington', 'DeSoto',
       'Forrest', 'Franklin', 'George', 'Greene', 'Grenada', 'Hancock',
       'Harrison', 'Hinds', 'Holmes', 'Humphreys', 'Issaquena',
       'Itawamba', 'Jackson', 'Jasper', 'Jefferson', 'Jefferson Davis',
       'Jones', 'Kemper', 'Lafayette', 'Lamar', 'Lauderdale', 'Lawrence',
       'Leake', 'Lee', 'Leflore', 'Lincoln', 'Lowndes', 'Madison',
       'Marion', 'Marshall', 'Monroe', 'Montgomery', 'Neshoba', 'Newton',
       'Noxubee', 'Oktibbeha', 'Panola', 'Pearl River', 'Perry', 'Pike',
       'Pontotoc', 'Prentiss', 'Quitman', 'Rankin', 'Scott', 'Sharkey',
       'Simpson', 'Smith', 'Stone', 'Sunflower', 'Tallahatchie', 'Tate',
       'Tippah', 'Tishomingo', 'Tunica', 'Union', 'Walthall', 'Warren',
       'Washington', 'Wayne', 'Webster', 'Wilkinson', 'Winston',
       'Yalobusha', 'Yazoo'], dtype=object)

In [ ]:
intersection = []
for ok in okcounty:
  for mis in miscounty:
    if ok == mis:
      print(ok)
      intersection.append(ok)

Choctaw
Jackson
Jefferson
Lincoln
Marshall
Pontotoc
Washington

In [ ]:
intersection

['Choctaw',
 'Jackson',
 'Jefferson',
 'Lincoln',
 'Marshall',
 'Pontotoc',
 'Washington']

In [ ]:
union = []
for ok in okcounty:
  union.append(ok)
for mis in miscounty:
  union.append(mis)
union = pa.unique(union)

In [ ]:
setdif =[]
for ok in okcounty:
  if ok not in intersection:
    setdif.append(ok)