<a href="https://colab.research.google.com/github/nurfnick/Discrete_Math/blob/master/trees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
sum = 0

for i in range(5):
  sum = sum + 2**i
  print(sum)

1
3
7
15
31

In [3]:
def f(x):
  return 2**x-1

In [5]:
for x in range(5):
  print(f(x+1))

1
3
7
15
31